networks:
  dev:

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./nginx.conf:/etc/nginx/nginx.conf"
      - "./ssl:/etc/nginx/ssl"
    depends_on:
      - backend
      - frontend
    networks:
      - dev
    restart: on-failure

  backend:
    build:
      context: ./account-manager-server
    env_file:
      - ./account-manager-server/.env
    networks:
      - dev

  frontend:
    build:
      context: ./account-manager
    networks:
      - dev

  mongodb:
    image: mongo:latest
    volumes:
      - mongo_data:/data/db
    networks:
      - dev

volumes:
  mongo_data:
